* {
    margin: 0;
    padding: 0;
    /* disable double_tap zoom on mobile devices */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /* strange margin-right occurs when vw<500px */
    /* overflow-x: hidden; */
}

body {
    background-color: #9d88d3 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", 'Roboto', sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    cursor: pointer;
    user-select: none;
}

#wrapper-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/hertaa1.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s;
}

#content {
    margin: 2vh auto;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.2s;
    opacity: 0;
}

#page-title {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    margin: 0.3em 0;
}

#page-descriptions {
    text-align: left;
}

#counter {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#counter-descriptions {
    margin-top: 1em;
}

#local-counter {
    color: #574f84;
    font-size: 3em;
    text-shadow: #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px, #9d88d3 0 0 10px;
    font-weight: bold;
}

#counter-unit {
    margin-bottom: 20px;
    font-weight: bold;
}

#progress {
    z-index: 999;
    display: inline;
    position: fixed;
    top: 10%;
    right: 0;
    width: 100%;
    color: #fff;
    font-size: 3.5em;
    text-align: center;
}

#loading {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.1s;
}

#language-selector-container {
    position: relative;
    left: 50%;
    width: 400px;
    height: fit-content;
    padding: 10px;
    align-content: center;
    transform: translateX(-50%);
}

#language-selector-placeholder {
    height: 60px;
}

#subtitle-seperator {
    margin-bottom: 10px;
}

#counter-button {
    background-color: #574f84;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;
    min-width: 120px;

    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, scale 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

#footer {
    background-color: white;
    color: black;
    padding: 16px 10vw;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#herta-card {
    min-width: 256px;
    max-width: 720px;
    height: auto;
    border-top-left-radius: 2% 3.5%;
    border-top-right-radius: 2% 3.5%;
    border-bottom-left-radius: 2% 3.5%;
    border-bottom-right-radius: 2% 3.5%;
}

.footer-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}

#twitter-footer-icon {
    color: #1d9bf0;
}

#github-footer-icon {
    color: #000000;
}

.footer-icon-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 6px;
}

#footer-repository-text {
    margin-top: 32px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1512px) {
    body {
        font-size: 1.25em;
    }

    #subtitle-seperator {
        margin-top: 3px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 1280px) {
    #footer {
        flex-wrap: wrap;
    }

    #footer-text {
        text-align: center;
    }

    #footer-header-text {
        margin-bottom: 8px;
    }

    #footer-repository-text {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1265px) {
    body {
        font-size: 1em;
    }

    #subtitle-seperator {
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    #subtitle-seperator {
        margin-top: 8px;
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 2em;
    }

    #subtitle-seperator {
        margin-top: 10px;
    }
}

#access-via-mirror,
#access-via-pages {
    font-size: small;
}

#credits-part {
    width: 100%;
}

.credits-head-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.about-link {
    color: black !important;
}

.mdlist-ava-fix {
    overflow: hidden !important;
}

.mdlist-ava-fix img {
    /* position: absolute; */
    top: 0px;
    left: 0px;
}

.noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
}